# Security (Keeps your passwords safe)
.env
uv.lock
# Virtual Environments (Saves you from uploading thousands of unnecessary files)
.venv/
venv/
env/

# Python Cache (Keeps your GitHub repo clean)
__pycache__/
*.pyc